<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleguide.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
<main>

<header class="header layout">
    <nav class="container">
        <a class="logo-desktop" href="/">
            <img src="/assets/logo-big.svg" alt="" width="200" height="50">
        </a>
        <a class="logo-mobile" href="/">
             <img src="/assets/logo-small.svg" alt="" width="50" height="50">
        </a>

        <a class="nav-link" href="/users">Gebruikers</a>
    </nav>
</header>
