{% render 'partials/head.liquid', title: 'Dashboard' %}

<section class="layout">
  <h1 class="container">Dashboard</h1>
</section>

<section class="layout">
  <article class="container">
    <h2>Games</h2>
    <ul>
      {% for categorie in gameCategories %}
        <li>
          <h3>{{categorie.title}}</h3>
          <a href="/categorie/{{categorie.id}}">Bekijk statistieken</a>
        </li>
      {% endfor %}
    </ul>
  </article>
</section>

{{gameCategories | json}}

{% render 'partials/foot.liquid' %}
