{% render 'partials/head.liquid', title: 'Dashboard' %}

<section class="layout">
  <h1 class="container">Users</h1>
</section>

{% render 'partials/leaderboard.liquid', rankedBy: 'Posts', users: users %}

{% render 'partials/foot.liquid' %}
